.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font: inherit;
  cursor: pointer;
}

.primary {
  background-color: royalblue;
  color: white;
}

.secondary {
  background-color: lightgray;
  color: black;
}

.trecondary {
  background-color: rgb(216, 19, 19);
  color: rgb(245, 242, 242);
  border: 1mm;
  font:xx-large;
  border-radius: 20px;
}